
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F0F0F0;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
}

section {
    border: 4px solid black;
    background-color: #b5c4d2;
    margin: 10px;
}

section>h2 {
    float: right;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0;
    width: 230px;
    text-align: center;
    font-style: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
}

section.chicken>h2 {
    background-color: #e57ea4;
}

section.beef>h2 {
    background-color: #e01717;
}

section.sushi>h2 {
    background-color: #ffd98c;
}

section>p {
    padding: 40px 15px 15px 15px;
}

.row {
    width: 100%;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .name3{
    margin-right: 65px;
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 30px;
  }
}
